<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".publish.protocol.ProtocolActivity"
            android:exported="false"
            android:configChanges="screenSize|keyboardHidden|locale|orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".publish.PublishEntranceActivity"
            android:exported="false"
            android:configChanges="screenSize|keyboardHidden|locale|orientation"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>