<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".city.ChooseCityActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|locale|screenSize|orientation"
            android:exported="false">

            <intent-filter>
                <action android:name="address.city.ChooseCityActivity" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.yiguo.shop"
                    android:path="/ChooseCityActivity"
                    android:port="8888"
                    android:scheme="liuxin" />
            </intent-filter>

        </activity>
    </application>

</manifest>