<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".detail.imgtxt.ImgTxtDetailActivity"
            android:configChanges="orientation|locale|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="dynamic.detail.imgtxt.ImgTxtDetailActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="com.yiguo.shop"
                    android:path="/ImgTxtDetailActivity"
                    android:port="8888"
                    android:scheme="liuxin" />
            </intent-filter>

        </activity>
    </application>

</manifest>